/* Header container */
.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Judul */
.user-header h1 {
    font-size: 20px;
    margin: 0;
}

/* Tombol Tambah User */
.add-user-button {
    background-color: #009b4c;
    color: #fff;
    border: none;
    padding: 4px 10px;
    /* kecil & ramping */
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    min-width: fit-content;
    /* tidak memanjang */
    transition: background 0.25s ease, transform 0.2s ease;
}

.add-user-button:hover {
    background-color: #007a3a;
    transform: translateY(-1px);
}